mat-list-item:hover {
  background-color: #c2eba3;
  // border-radius: 5px;
  color: white;
  cursor: pointer;
  span {
    mat-icon {
      color: white !important;
    }
  }
}

mat-list-item {
  height: 45px !important;
  // margin: 2px;
  font-size: 14px;
  font-weight: 500;
  vertical-align: baseline;
  font-family: "Open Sans";
}

.avatarImage {
  height: "110px";
  width: "110px";
  border: "8px solid rgb(250 250 250)";
  transform: "translate3d(0,0,0)";
}
.menuText {
  font-size: 14px;
}
.activeItem {
  background-color: #6bad37;
  // border-radius: 5px;
  color: white;
  span {
    mat-icon {
      color: white !important;
    }
  }
}
.divider {
  height: 1px;
  background-color: rgba(128, 128, 128, 0.534);
}
.menu-md {
  max-width: 60px !important;
  overflow: hidden;
}
.imageShadow {
  min-height: 115px !important;
  min-width: 115px;
  background-color: rgb(128, 128, 128);
  position: absolute;
  top: -17px;
  border-radius: 50%;
  visibility: hidden;
  z-index: 100;
}
.imageShadow:hover {
  visibility: visible;
}
