<div fxLayout="row" fxLayoutAlign="space-around center" style="padding: 10px">
  <div
    fxFlex.lg="75"
    fxFlex.lt-lg="100"
    fxLayout="row"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="16px"
  >
    <mat-card
      [@openClose]="isMessage ? 'closed' : 'open'"
      fxFlex="20"
      style="padding: 0px; border-radius: 0px"
      fxLayout="column"
      fxShow
      fxHide.lt-md
      fxFlexFill
      ><div
        [fxHide]="!isMessage"
        style="flex: 1 1 auto; background-color: #6bad37; height: 20px"
      ></div>
      <div
        fxLayout="row"
        fxLayoutAlign="stretch stretch"
        style="padding: 8px"
        [fxHide]="isMessage"
      >
        <span fxFlex style="font-size: 12px">Edmonton, Canada</span>
        <span style="font-size: 12px">3:59 PM</span>
      </div>
      <span
        fxFlex
        style="
          position: relative;
          bottom: -30px;
          text-align: center;
          max-height: 10px;
          height: 80px;
        "
        fxLayout="column"
        [fxHide]="isMessage"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        ><span
          style="
            position: relative;
            flex: 1 1 auto;
            text-align: center;
            height: 0px !important;
            font-size: 16px;
            font-weight: 500;
          "
          >Mohammed Rauf
        </span>
        <img src="assets/avatar.png" alt="" width="115" draggable="false" />
        <!-- <span class="imageShadow"></span> --> </span
      ><span class="divider"></span>
      <span fxFlex style="margin-top: 55px">
        <mat-list style="padding: 5px 0px">
          <mat-list-item
            *ngFor="let link of links[0]"
            class="menuItem"
            [routerLink]="link.href"
            routerLinkActive="activeItem"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="isMessage = false"
            matLine
          >
            <span fxFlex
              ><mat-icon
                style="color: rgb(0, 0, 71)"
                class="text-muted"
                class="material-icons-outlined"
                >{{ link.icon }}</mat-icon
              ></span
            >
            <span class="mx-2" fxFlex="80" [fxHide]="isMessage">{{
              link.name
            }}</span>
          </mat-list-item>
        </mat-list></span
      ><span class="divider"></span>
      <span fxFlex>
        <mat-list style="padding: 5px 0px">
          <mat-list-item
            *ngFor="let link of links[1]"
            class="menuItem"
            [routerLink]="link.href"
            routerLinkActive="activeItem"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="isMessage = false"
            matLine
          >
            <span fxFlex
              ><mat-icon
                style="color: rgb(0, 0, 71)"
                class="text-muted"
                class="material-icons-outlined"
                >{{ link.icon }}</mat-icon
              ></span
            >
            <span class="mx-2" fxFlex="80" [fxHide]="isMessage">{{
              link.name
            }}</span>
          </mat-list-item>
        </mat-list></span
      ><span class="divider"></span>
      <span fxFlex>
        <mat-list style="padding: 5px 0px">
          <mat-list-item
            *ngFor="let link of links[2]"
            class="menuItem"
            [routerLink]="link.href"
            routerLinkActive="activeItem"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="isMessage = false"
            matLine
          >
            <span fxFlex
              ><mat-icon
                style="color: rgb(0, 0, 71)"
                class="text-muted"
                class="material-icons-outlined"
                >{{ link.icon }}</mat-icon
              ></span
            >
            <span class="mx-2" fxFlex="80" [fxHide]="isMessage">{{
              link.name
            }}</span>
          </mat-list-item>
        </mat-list></span
      ><span class="divider"></span>
      <span fxFlex>
        <mat-list style="padding: 5px 0px">
          <mat-list-item
            *ngFor="let link of links[3]"
            class="menuItem"
            [routerLink]="link.href"
            routerLinkActive="activeItem"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="isMessage = true"
            matLine
          >
            <span fxFlex
              ><mat-icon
                style="color: rgb(0, 0, 71)"
                class="text-muted"
                class="material-icons-outlined"
                >{{ link.icon }}</mat-icon
              ></span
            >
            <span class="mx-2" fxFlex="80" [fxHide]="isMessage">{{
              link.name
            }}</span>
          </mat-list-item>
        </mat-list></span
      ><span class="divider"></span>
      <span fxFlex>
        <mat-list style="padding: 5px 0px">
          <mat-list-item
            *ngFor="let link of links[4]"
            class="menuItem"
            [routerLink]="link.href"
            routerLinkActive="activeItem"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="isMessage = false"
            matLine
          >
            <span fxFlex
              ><mat-icon
                style="color: rgb(0, 0, 71)"
                class="text-muted"
                class="material-icons-outlined"
                >{{ link.icon }}</mat-icon
              ></span
            >
            <span class="mx-2" fxFlex="80" [fxHide]="isMessage">{{
              link.name
            }}</span>
          </mat-list-item>
        </mat-list></span
      >
    </mat-card>
    <mat-card fxFlex style="padding: 0px; border-radius: 0px">
      <div
        style="flex: 1 1 auto; background-color: #6bad37; height: 20px"
      ></div>
      <div style="padding: 10px">
        <router-outlet></router-outlet>
      </div>
    </mat-card>
  </div>
</div>
