<div
  fxLayout="column"
  fxLayoutAlign="space-around center"
  style="padding: 10px"
>
  <div
    fxFlex
    style="padding: 0px; position: absolute; top: 50px; z-index: 4"
    fxLayout="row"
    fxFlexFill
    fxHide
    fxShow.lt-md
  >
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-around center"
    style="padding: 10px 0"
    fxFlexFill
  >
    <div
      fxFlex.lg="75"
      fxFlex.lt-lg="100"
      fxLayout="row"
      fxLayoutAlign="space-between start"
      fxLayoutGap="10px"
      fxFlexFill
    >
      <mat-card
        fxFlex="20"
        style="padding: 0px"
        fxLayout="column"
        fxShow
        fxHide.lt-md
        fxFlexFill
      >
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          style="padding: 10px"
        >
          <span fxFlex style="font-size: 12px">Edmonton, Canada</span>
          <span style="font-size: 12px">3:59 PM</span>
        </div>
        <span
          fxFlex
          style="
            position: relative;
            bottom: -50px;
            text-align: center;
            max-height: 10px;
          "
        >
          <img
            src="../../../assets/avatar.png"
            alt=""
            width="100"
            draggable="false" /></span
        ><span
          style="height: 1px; background-color: rgba(128, 128, 128, 0.534)"
        ></span>
        <span fxFlex style="margin-top: 50px">
          <mat-list style="padding: 5px 10px">
            <mat-list-item
              *ngFor="let link of links[0]"
              class="menuItem"
              [routerLink]="link.href"
              routerLinkActive="activeItem"
              [routerLinkActiveOptions]="{ exact: true }"
              matLine
            >
              <span fxFlex
                ><mat-icon
                  style="color: rgb(0, 0, 71)"
                  class="text-muted"
                  class="material-icons-outlined"
                  >{{ link.icon }}</mat-icon
                ></span
              >
              <span class="mx-2" fxFlex="80">{{ link.name }}</span>
            </mat-list-item>
          </mat-list></span
        ><span
          style="height: 1px; background-color: rgba(128, 128, 128, 0.534)"
        ></span>
        <span fxFlex>
          <mat-list style="padding: 5px 10px">
            <mat-list-item
              *ngFor="let link of links[1]"
              class="menuItem"
              [routerLink]="link.href"
              routerLinkActive="activeItem"
              [routerLinkActiveOptions]="{ exact: true }"
              matLine
            >
              <span fxFlex
                ><mat-icon
                  style="color: rgb(0, 0, 71)"
                  class="text-muted"
                  class="material-icons-outlined"
                  >{{ link.icon }}</mat-icon
                ></span
              >
              <span class="mx-2" fxFlex="80">{{ link.name }}</span>
            </mat-list-item>
          </mat-list></span
        ><span
          style="height: 1px; background-color: rgba(128, 128, 128, 0.534)"
        ></span>
        <span fxFlex>
          <mat-list style="padding: 5px 10px">
            <mat-list-item
              *ngFor="let link of links[2]"
              class="menuItem"
              [routerLink]="link.href"
              routerLinkActive="activeItem"
              [routerLinkActiveOptions]="{ exact: true }"
              matLine
            >
              <span fxFlex
                ><mat-icon
                  style="color: rgb(0, 0, 71)"
                  class="text-muted"
                  class="material-icons-outlined"
                  >{{ link.icon }}</mat-icon
                ></span
              >
              <span class="mx-2" fxFlex="80">{{ link.name }}</span>
            </mat-list-item>
          </mat-list></span
        ><span
          style="height: 1px; background-color: rgba(128, 128, 128, 0.534)"
        ></span>
        <span fxFlex>
          <mat-list style="padding: 5px 10px">
            <mat-list-item
              *ngFor="let link of links[3]"
              class="menuItem"
              [routerLink]="link.href"
              routerLinkActive="activeItem"
              [routerLinkActiveOptions]="{ exact: true }"
              matLine
            >
              <span fxFlex
                ><mat-icon
                  style="color: rgb(0, 0, 71)"
                  class="text-muted"
                  class="material-icons-outlined"
                  >{{ link.icon }}</mat-icon
                ></span
              >
              <span class="mx-2" fxFlex="80">{{ link.name }}</span>
            </mat-list-item>
          </mat-list></span
        ><span
          style="height: 1px; background-color: rgba(128, 128, 128, 0.534)"
        ></span>
        <span fxFlex>
          <mat-list style="padding: 5px 10px">
            <mat-list-item
              *ngFor="let link of links[4]"
              class="menuItem"
              [routerLink]="link.href"
              routerLinkActive="activeItem"
              [routerLinkActiveOptions]="{ exact: true }"
              matLine
            >
              <span fxFlex
                ><mat-icon
                  style="color: rgb(0, 0, 71)"
                  class="text-muted"
                  class="material-icons-outlined"
                  >{{ link.icon }}</mat-icon
                ></span
              >
              <span class="mx-2" fxFlex="80">{{ link.name }}</span>
            </mat-list-item>
          </mat-list></span
        >
      </mat-card>
      <mat-card fxFlex fxFlexFill style="padding: 0px; min-height: 85vh">
        <div
          style="flex: 1 1 auto; background-color: #6bad37; height: 20px"
        ></div>
        <div style="flex: 1 1 auto; padding: 10px">
          <router-outlet></router-outlet>
        </div>
      </mat-card>
    </div>
  </div>
</div>
