.example-container {
  padding: 10px;
  min-width: 35vw;
  margin: 10px;
}

.example-step-navigation-bar {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.example-step {
  background: transparent;
  border: 0;
  margin: 0 10px;
  padding: 30px;
  color: inherit;
  color: rgb(58, 61, 68);
  cursor: pointer;
}

.example-step.example-active {
  color: rgb(127, 155, 218);
  font-weight: 600;
}

.example-nav-button {
  background: transparent;
  border: 0;
  color: inherit;
}
.inactive {
  font-size: 12px;
  background-color: #3b8bd3;
  box-shadow: 0px 0px 0px 10px white;
  height: 10px;
  width: 10px;
  border-radius: 5px;
}
.active {
  font-size: 12px;
  background-color: #3b8bd3;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px #e4f2fd;
}
hr {
  position: absolute;
}
