.trip-item {
  border: 1px solid #7070704d;
  background-color: #f7f5ed80;
  min-height: 250px;
  padding: 25px;
}
.trip-item:hover {
  box-shadow: 1px 1px 10px rgb(201, 201, 201);
  cursor: pointer;
}
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif !important;
}
