<div
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxLayoutGap="40px"
  style="padding: 40px"
>
  <div fxFlex class="billing-item" fxLayout="row" fxLayoutGap="30px">
    <span fxFlex fxLayout="column">
      <span
        style="
          border-left: 6px solid #2699fb;
          line-height: 20px;
          font-size: 14px;
          color: #2699fb;
          font-weight: 500;
          padding: 10px;
        "
        >Current balance</span
      >
      <span
        style="
          line-height: 20px;
          font-size: 18px;
          color: #625d5d;
          font-weight: 500;
          padding: 10px;
        "
        >1000,00 $</span
      ></span
    >
    <span fxFlex fxLayout="column">
      <span
        style="
          border-left: 6px solid #2699fb;
          line-height: 20px;
          color: #2699fb;
          font-size: 14px;
          font-weight: 500;
          padding: 10px;
        "
        >Totale Earnings</span
      >
      <span
        style="
          line-height: 20px;
          font-size: 18px;
          color: #625d5d;
          font-weight: 500;
          padding: 10px;
        "
        >1000,00 $</span
      ></span
    >
  </div>
  <div fxFlex class="billing-item" fxLayout="row" fxLayoutGap="30px">
    <span fxFlex fxLayout="column">
      <span
        style="
          border-left: 6px solid #2699fb;
          line-height: 20px;
          font-size: 14px;
          color: #2699fb;
          font-weight: 500;
          padding: 10px;
        "
        >Last Payment</span
      >
      <span
        style="
          line-height: 20px;
          font-size: 18px;
          font-weight: 500;
          color: #625d5d;
          padding: 10px;
        "
        >20-May-2021</span
      ></span
    >
    <span fxFlex fxLayout="column">
      <span
        style="
          border-left: 6px solid #2699fb;
          line-height: 20px;
          color: #2699fb;
          font-size: 14px;
          font-weight: 500;
          padding: 10px;
        "
        >Next Payment</span
      >
      <span
        style="
          line-height: 20px;
          font-size: 18px;
          color: #625d5d;
          font-weight: 500;
          padding: 10px;
        "
        >20-May-2021</span
      ></span
    >
  </div>
</div>
