<div
  style="padding: 10px"
  fxLayout="column"
  fxLayoutAlign="space-between center"
>
  <br />
  <p style="font-weight: bold; font-size: 16px">
    Are you sure you want to change your preferred method?
  </p>
  <br />
  <div fxLayout="row" fxLayoutGap="10px" fxFlex fxFlexFill>
    <span fxFlex="50"></span>
    <button mat-raised-button color="primary" fxFlex style="padding: 0px">
      Confirm
    </button>
    <button
      mat-raised-button
      color="warn"
      fxFlex
      style="padding: 0px"
      mat-dialog-close
    >
      Discard
    </button>
  </div>
</div>
