<div fxLayout="row" style="margin-top: 10px">
  <mat-form-field appearance="outline" fxFlex="50" fxFlexFill>
    <mat-label>Filter</mat-label>
    <input
      spellcheck="true"
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ium"
      #input
      autocomplete="false"
    />
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <ng-container matColumnDef="region">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Region</th>
    <td mat-cell *matCellDef="let element">{{ element.region }}</td>
  </ng-container>
  <ng-container matColumnDef="activities">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Activities</th>
    <td mat-cell *matCellDef="let element">
      <span
        fxLayout="row"
        fxLayoutGap="3px"
        fxLayoutAlign="start end"
        style="padding: 5px"
        class="activities"
        ><mat-icon matTooltip="skiing" style="font-size: 24px"
          >downhill_skiing</mat-icon
        ><mat-icon matTooltip="cycling" style="font-size: 24px"
          >directions_bike</mat-icon
        ><mat-icon matTooltip="hiking" style="font-size: 24px">hiking</mat-icon
        ><mat-icon matTooltip="fishing" style="font-size: 24px"
          >sailing</mat-icon
        ></span
      >
    </td>
  </ng-container>
  <ng-container matColumnDef="trip_date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Trip date</th>
    <td mat-cell *matCellDef="let element">{{ element.trip_date }}</td>
  </ng-container>
  <ng-container matColumnDef="revenue">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Revenue</th>
    <td mat-cell *matCellDef="let element">{{ element.revenue }}$</td>
  </ng-container>
  <ng-container matColumnDef="booking">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Bookings</th>
    <td mat-cell *matCellDef="let element" style="text-align: center">
      {{ element.booking }}
    </td>
  </ng-container>
  <ng-container matColumnDef="date_range">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button><mat-icon>date_range</mat-icon></button>
    </th>
    <td mat-cell *matCellDef="let element">
      <span
        ><button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon style="font-size: 22px">more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit Trip</span>
          </button>
          <button mat-menu-item>
            <mat-icon color="primary">calendar_today</mat-icon>
            <span>Schedule Trip</span>
          </button>
          <button mat-menu-item>
            <mat-icon>file_copy</mat-icon>
            <span>Duplicate Trip</span>
          </button>
          <button mat-menu-item>
            <mat-icon color="accent">delete</mat-icon>Delete Trip
          </button>
        </mat-menu></span
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [ngStyle]="{ 'background-color': colors[row.id] }"
  ></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[10, 20]"
  showFirstLastButtons
  aria-label="Select page for trip history"
>
</mat-paginator>
