table {
  width: 100%;
}
.mat-row:nth-child(even) {
  background-color: whitesmoke;
}

.mat-row:nth-child(odd) {
  background-color: white;
}
.mat-header-cell {
  background-color: #57b8bc;
  color: white !important;
  font-size: 16px;
  font-weight: 500;
}

.activities {
  display: flex;
  justify-content: center;
  mat-icon {
    font-size: 16px;
    cursor: pointer;
  }
}
.mat-header-cell-bookings {
  text-align: center;
}

::ng-deep .success-snackbar {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  background: #3b8bd3;
  color: white;
  font-size: 24px !important;
  padding: 30px;
}

.mat-header-cell {
  background-color: #2699fb !important;
  color: white !important;
  font-weight: 500;
}
.mat-column-title {
  max-width: 150px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0px 20px 0px 0px;
}
.mat-column-Id {
  max-width: 5px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mat-column-activities {
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 20px;
  overflow: hidden;
}
.mat-column-region {
  max-width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
