<div fxLayout="column" fxLayoutAlign="center center">
  <div
    fxLayout="row"
    fxLayout.md="column"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign="space-around center"
    fxLayoutGap="40px"
    style="
      padding: 20px;
      padding-top: 100px;
      border-radius: 10px;
      min-height: 300px !important;
      min-width: 100% !important;
    "
  >
    <div fxFlex fxFlexFill fxLayout="column" fxLayoutGap="10px">
      <!-- <h3 style="font-weight: bold">Front side document</h3> -->
      <div
        fxLayout="row"
        fxLayoutAlign="end end"
        fxLayoutGap="10px"
        style="position: relative; bottom: 0px; z-index: 10; padding: 0px 6px"
      >
        <button
          (click)="pickFile1()"
          color="primary"
          mat-icon-button
          [disabled]="!doc1"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          [disabled]="!doc1"
          (click)="deleteImage1()"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
      <div
        fxLayout="row"
        class="imageLayout"
        fxLayoutAlign="center center"
        style="position: relative; top: -65px"
      >
        <span style="text-align: center"
          ><button
            *ngIf="!doc1"
            mat-raised-button
            class="loadIcon"
            (click)="pickFile1()"
          >
            <mat-icon>add</mat-icon>Front
          </button>

          <img
            *ngIf="doc1"
            [src]="doc1"
            style="
              margin: 4px;
              max-width: 250px;
              max-height: 250px;
              object-fit: fill;
            "
          />
        </span>
        <input
          type="file"
          #fileLoader1
          (change)="onSelectFile1($event)"
          style="max-width: 0; max-height: 0; visibility: hidden"
        />
      </div>
    </div>
    <div fxFlex fxFlexFill fxLayout="column" fxLayoutGap="10px">
      <div
        fxLayout="row"
        fxLayoutAlign="end end"
        fxLayoutGap="10px"
        style="position: relative; bottom: 0px; z-index: 10; padding: 0px 6px"
      >
        <button
          (click)="pickFile2()"
          color="primary"
          mat-icon-button
          [disabled]="!doc2"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteImage2()"
          [disabled]="!doc2"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
      <div
        fxLayout="row"
        class="imageLayout"
        fxLayoutAlign="center center"
        style="position: relative; top: -65px"
      >
        <span style="text-align: center"
          ><button
            *ngIf="!doc2"
            mat-raised-button
            class="loadIcon"
            (click)="pickFile2()"
          >
            <mat-icon>add</mat-icon>Back
          </button>

          <img
            *ngIf="doc2"
            [src]="doc2"
            style="
              margin: 4px;
              max-width: 250px;
              max-height: 250px;
              object-fit: fill;
            "
          />
        </span>
        <input
          type="file"
          #fileLoader2
          (change)="onSelectFile2($event)"
          style="max-width: 0; max-height: 0; visibility: hidden"
        />
      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlex fxFlexFill style="padding: 20px">
    <span fxFlex style="flex: 1 1 auto"></span>
    <button
      mat-flat-button
      aria-label="Example icon-button with share icon"
      color="primary"
      class="head-14-semibold"
      style="background-color: #2699fb; border-radius: 20px; padding: 4px 20px"
    >
      <span fxHide.xs-sm style="padding: 5px">Verify account</span
      ><mat-icon>save</mat-icon>
    </button>
  </div>
</div>
