<div style="background-color: whitesmoke; min-height: 100vh">
  <mat-toolbar
    [class.mat-elevation-z2]="true"
    style="background-color: white; position: sticky; top: 0; z-index: 100"
    fxLayout="row"
    fxLayoutAlign="space-around center"
  >
    <span
      fxFlex.lg="75"
      fxFlex.lt-lg
      fxLayout="row"
      fxLayoutAlign="space-around center"
    >
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span
        flex
        style="
          padding: auto;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <img
          src="../assets/logo.png"
          width="250"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          draggable="false"
      /></span>
      <span flex class="flex-spacer"></span
      ><button
        fxShow
        fxHide.lt-md
        [routerLink]="['/']"
        routerLinkActive="activatedMenu"
        [routerLinkActiveOptions]="{ exact: true }"
        mat-flat-button
        class="toolbarButton"
        aria-label="Example icon-button with heart icon"
      >
        Home</button
      ><button
        fxShow
        fxHide.lt-md
        mat-flat-button
        [routerLink]="['/trips']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="activatedMenu"
        class="toolbarButton"
        aria-label="Example icon-button with heart icon"
      >
        Trips</button
      ><button
        fxShow
        fxHide.lt-md
        [routerLink]="['/activities']"
        routerLinkActive="activatedMenu"
        mat-flat-button
        [routerLinkActiveOptions]="{ exact: true }"
        class="toolbarButton"
        aria-label="Example icon-button with heart icon"
      >
        Activities</button
      ><button
        fxShow
        fxHide.lt-md
        [routerLink]="['/destinations']"
        routerLinkActive="activatedMenu"
        [routerLinkActiveOptions]="{ exact: true }"
        mat-flat-button
        class="toolbarButton"
        aria-label="Example icon-button with heart icon"
      >
        Destinations
      </button>
      <span flex class="flex-spacer"></span
      ><button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon class="material-icons-outlined">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          [routerLink]="['/guide/profile']"
          (click)="showAddTrip = true"
        >
          <mat-icon class="material-icons-outlined">badge</mat-icon>
          <span>Guide Profile</span></button
        ><button
          mat-menu-item
          [routerLink]="['/xplorer/profile']"
          routerLinkActive="router-link-active"
          (click)="showAddTrip = false"
        >
          <mat-icon class="material-icons-outlined" [routerLink]="['/login']"
            >badge</mat-icon
          >
          <span>Xplorer Profile</span>
        </button>
        <button mat-menu-item (click)="signOut()" [routerLink]="['/login']">
          <mat-icon class="material-icons-outlined">logout </mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
      <button
        fxHide.xs
        mat-icon-button
        [routerLink]="['/favorites']"
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon class="material-icons-outlined"
          >favorite_border</mat-icon
        ></button
      ><button
        fxHide.xs
        [routerLink]="['/notifcations']"
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon class="material-icons-outlined"
          >notifications_active</mat-icon
        >
      </button>
      <button
        *ngIf="showAddTrip"
        mat-flat-button
        [routerLink]="['/addTrip']"
        class="example-icon"
        aria-label="Example icon-button with share icon"
        color="primary"
        matTooltip="Create a trip"
        style="background-color: #6bad37; border-radius: 20px"
      >
        <mat-icon>add</mat-icon><span fxHide.xs>Add trip</span>
      </button></span
    >
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav
      color="primary"
      #sidenav
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
      fxFlexFill
    >
      <div fxLayout="column">
        <a
          mat-button
          routerLink="/"
          routerLinkActive="activatedSideMenu"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="sidenav.toggle()"
          >Home</a
        >
        <a
          mat-button
          routerLink="/trips"
          routerLinkActive="activatedSideMenu"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="sidenav.toggle()"
          >Trips</a
        >
        <a
          mat-button
          routerLink="/activities"
          routerLinkActive="activatedSideMenu"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="sidenav.toggle()"
          >Activities</a
        >
        <a
          mat-button
          routerLink="/destinations"
          routerLinkActive="activatedSideMenu"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="sidenav.toggle()"
          >Destinations</a
        >
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
