<div style="background-color: whitesmoke; height: 100vh">
  <mat-toolbar
    [class.mat-elevation-z2]="true"
    style="background-color: white"
    fxLayout="row"
    fxLayoutAlign="space-around center"
  >
    <span
      fxFlex.lg="70"
      fxFlex.md="100"
      fxFlex.sm="100"
      fxFlex.xs="100"
      fxLayout="row"
      fxLayoutAlign="space-around center"
      ><span flex> <img src="../assets/logo.png" width="250" /></span>
      <span flex class="flex-spacer"></span
      ><button
        fxHide.xs
        mat-flat-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        Home</button
      ><button
        fxHide.xs
        mat-flat-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        Trips</button
      ><button
        fxHide.xs
        mat-flat-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        Activities</button
      ><button
        fxHide.xs
        mat-flat-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        Destinations
      </button>
      <span flex class="flex-spacer"></span>
      <button
        fxHide.xs
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon></button
      ><button
        fxHide.xs
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>notifications_active</mat-icon>
      </button>
      <button
        mat-flat-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
        color="primary"
      >
        <mat-icon>add</mat-icon>Add trip
      </button></span
    >
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
