<div style="background-color: whitesmoke; min-height: 100vh">
  <mat-toolbar
    [class.mat-elevation-z2]="true"
    style="
      background-color: white;
      padding: 0px;
      position: sticky;
      top: 0;
      z-index: 100;
    "
    fxLayout="row"
    fxLayoutAlign="space-around center"
  >
    <span
      fxFlex.lg="75"
      fxFlex.md="100"
      fxFlex.sm="100"
      fxFlex.xs="100"
      fxLayout="row"
      fxLayoutAlign="space-around center"
      ><span flex style="padding: auto; cursor: pointer">
        <img
          src="../assets/logo.png"
          width="250"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
      /></span>
      <span flex class="flex-spacer"></span
      ><button
        fxHide.xs
        mat-flat-button
        class="toolbarButton"
        aria-label="Example icon-button with heart icon"
      >
        Home</button
      ><button
        fxHide.xs
        mat-flat-button
        [routerLink]="['/trips']"
        class="toolbarButton"
        aria-label="Example icon-button with heart icon"
      >
        Trips</button
      ><button
        fxHide.xs
        [routerLink]="['/activities']"
        mat-flat-button
        class="toolbarButton"
        aria-label="Example icon-button with heart icon"
      >
        Activities</button
      ><button
        fxHide.xs
        [routerLink]="['/destinations']"
        mat-flat-button
        class="toolbarButton"
        aria-label="Example icon-button with heart icon"
      >
        Destinations
      </button>
      <span flex class="flex-spacer"></span
      ><button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon class="material-icons-outlined">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/guide/profile']">
          <mat-icon class="material-icons-outlined">badge</mat-icon>
          <span>Guide Profile</span></button
        ><button
          mat-menu-item
          [routerLink]="['/xplorer/booking']"
          routerLinkActive="router-link-active"
        >
          <mat-icon class="material-icons-outlined">badge</mat-icon>
          <span>Xplorer Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon class="material-icons-outlined">logout </mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
      <button
        fxHide.xs
        mat-icon-button
        [routerLink]="['/favorites']"
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon class="material-icons-outlined"
          >favorite_border</mat-icon
        ></button
      ><button
        fxHide.xs
        [routerLink]="['/notifcations']"
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon class="material-icons-outlined"
          >notifications_active</mat-icon
        >
      </button>
      <button
        mat-flat-button
        [routerLink]="['/addTrip']"
        class="example-icon"
        aria-label="Example icon-button with share icon"
        color="primary"
        style="background-color: #6bad37; border-radius: 20px"
      >
        <mat-icon>add</mat-icon><span fxHide.xs-sm>Add trip</span>
      </button></span
    >
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
