.flex-spacer {
  flex: 1 1 auto;
}
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.toolbarButton {
  padding: 14px;
  border-radius: 0px;
}
.toolbarButton:hover {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  border-bottom: 5px solid #6bad37;
  background-color: #6aad3715;
}
.activatedMenu {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  border-bottom: 5px solid #6bad37;
  background-color: #6aad3715;
}
.mat-sidenav-container {
  min-height: 93vh !important;
}
.activatedSideMenu {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  border-left: 5px solid #6bad37;
  background-color: #6aad3715;
}
a {
  height: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
