.flex-spacer {
  flex: 1 1 auto;
}
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.toolbarButton {
  padding: 14px;
  border-radius: 0px;
}
.toolbarButton:hover {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 5px solid rgb(3, 0, 163);
}
