<mat-toolbar
  fxLayout="row"
  class="size-height-48 mat-elevation-z1"
  color="primary"
  style="background-color: #43893f; height: 40px !important"
  fxLayoutAlign="space-around center"
>
  <span fxFlex style="font-size: 16px"
    >Best Mountain Biking Trip in the Canadian Rockies</span
  >
  <span fxFlex> </span>
</mat-toolbar>
<div fxLayout="row">
  <div fxFlex="80">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between start"
      style="padding: 15px"
    >
      <span
        fxLayout="row"
        fxLayoutGap="3px"
        fxLayoutAlign="start start"
        style="padding: 5px"
        ><mat-icon matTooltip="skiing">downhill_skiing</mat-icon
        ><mat-icon matTooltip="cycling">directions_bike</mat-icon
        ><mat-icon matTooltip="hiking">hiking</mat-icon
        ><mat-icon matTooltip="fishing">sailing</mat-icon></span
      ><span style="padding: 0px 30px">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip class="b-color-bleu"
            ><mat-icon>history</mat-icon
            ><span style="padding: 0px 5px; font-size: 12px"
              >7 Days</span
            ></mat-chip
          >
          <mat-chip class="b-color-orange"
            ><mat-icon>person</mat-icon
            ><span style="padding: 0px 5px; font-size: 12px"
              >2 - 5</span
            ></mat-chip
          >
        </mat-chip-list>
      </span>
      <span fxFlex fxFlexFill></span>
    </div>

    <mat-divider></mat-divider>

    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      style="padding: 15px"
    >
      <div
        fxFlex
        fxLayout="column"
        fxLayoutAlign="space-between start"
        fxLayoutGap="10px"
        fxFlexFill
      >
        <span fxFlex>
          <span
            class="loging"
            fxLayout="row"
            fxLayoutGap="13px"
            fxLayoutAlign="start end"
            style="padding: 1px"
            ><mat-icon>hotel</mat-icon
            ><span>Monterey, Carmel and the Full title</span>
          </span> </span
        ><span fxFlex class="parcs">
          <span
            class="loging"
            fxLayout="row"
            fxLayoutGap="13px"
            fxLayoutAlign="start center"
            style="padding: 1px"
            ><mat-icon>room</mat-icon
            ><span
              >Banff National Park, Jasper National Park, Yoho National Park,
            </span>
          </span></span
        >
      </div>
    </div>

    <mat-divider></mat-divider>
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      style="padding: 15px"
    >
      <span fxFlex>
        <span
          class="loging"
          fxLayout="row"
          fxLayoutGap="13px"
          fxLayoutAlign="start end"
          style="padding: 1px"
        >
          <span>Total : $2,100 USD</span>
        </span>
      </span>
    </div>

    <mat-divider></mat-divider>
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      style="padding: 15px"
    >
      <span fxFlex>
        <span
          class="loging"
          fxLayout="row"
          fxLayoutGap="13px"
          fxLayoutAlign="start end"
          style="padding: 1px"
        >
          <span>
            <span
              fxLayout="row"
              fxLayoutGap="10px"
              fxLayoutAlign="start center"
              style="text-align: left; display: flex; vertical-align: middle"
            >
              <span>Pay With : </span> <mat-icon>credit_card</mat-icon
              ><span>Mastercard ending in 0000</span></span
            ></span
          >
        </span>
      </span>
    </div>
  </div>
  <div fxFlex="20">
    <span
      fxFlexFill
      fxLayout="column"
      fxLayoutGap="50px"
      fxLayoutAlign="center start"
      style="padding: 15px"
    >
      <span></span>
      <div
        class="end"
        fxLayout="column"
        fxLayoutGap="5px"
        style="margin: 20px 0px"
        fxLayoutAlign="center stretch"
      >
        <span style="font-size: 12px"><i>Trip Guide</i></span>
        <span style="font-size: 14px; font-weight: 500">Mohammed Rauf</span>
        <span
          ><img
            src="assets/thumbnail.png"
            draggable="false"
            alt=""
            width="100"
            height="100"
            style="border-radius: 10px"
        /></span>
      </div>
      <button
        mat-flat-button
        color="primary"
        style="
          background-color: #2699fb;
          margin-right: 15px;
          margin-top: 25px;
          border-radius: 20px;
        "
        mat-dialog-close
      >
        Book Now
      </button>
    </span>
  </div>
</div>
