::ng-deep .mat-dialog-container {
  padding: 0px !important;
}
.pad-30 {
  padding: 20px;
}
.b-color-green {
  background-color: #43893f;
  color: white;
}
.b-color-bleu {
  background-color: #2699fb;
  color: white;
}
.b-color-orange {
  color: white;
  background-color: #fc7f03;
}
