<div fxLayout="row" fxLayoutAlign="space-around center">
  <example-custom-stepper>
    <cdk-step>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxFlex style="font-size: 20px; font-weight: 500; padding: 30px">
          Account
        </div>
        <div fxFlex fxFlexFill>
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Tape here ..." />
            <mat-icon matSuffix class="material-icons-outlined"
              >person</mat-icon
            >
          </mat-form-field>
        </div>
        <div fxFlex fxFlexFill>
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Tape here ..." />
            <mat-icon matSuffix class="material-icons-outlined"
              >alternate_email</mat-icon
            >
          </mat-form-field>
        </div>
        <div fxLayout="row" fxFlex fxFlexFill>
          <span fxFlex style="flex: 1 1 auto"></span>
          <button
            mat-flat-button
            class="example-icon"
            aria-label="Example icon-button with share icon"
            color="primary"
            matStepperNext
            style="background-color: #6bad37; border-radius: 20px"
          >
            <span fxHide.xs-sm>Personal</span><mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div></cdk-step
    >
    <cdk-step
      ><div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxFlex style="font-size: 20px; font-weight: 500; padding: 30px">
          Personal
        </div>
        <div fxFlex fxLayout="row" fxLayoutGap="30px" fxFlexFill>
          <div fxFlex fxFlexFill>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Firstname</mat-label>
              <input matInput placeholder="Tape here ..." />
              <mat-icon matSuffix class="material-icons-outlined"
                >person</mat-icon
              >
            </mat-form-field>
          </div>
          <div fxFlex fxFlexFill>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Lastname</mat-label>
              <input matInput placeholder="Tape here ..." />
              <mat-icon matSuffix class="material-icons-outlined"
                >person</mat-icon
              >
            </mat-form-field>
          </div>
        </div>
        <div fxFlex fxLayout="row" fxLayoutGap="30px" fxFlexFill>
          <div fxFlex="50" fxFlexFill>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Gender</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of [1, 2, 3, 4, 5]" [value]="food">
                  {{ food }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex fxFlexFill>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>phone</mat-label>
              <input matInput placeholder="Tape here ..." />
              <mat-icon matSuffix class="material-icons-outlined"
                >phone</mat-icon
              >
            </mat-form-field>
          </div>
        </div>
        <div fxFlex fxLayout="row" fxLayoutGap="30px" fxFlexFill>
          <div fxFlex fxFlexFill>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>address</mat-label>
              <input matInput placeholder="Tape here ..." />
              <mat-icon matSuffix class="material-icons-outlined"
                >markunread_mailbox</mat-icon
              >
            </mat-form-field>
          </div>
        </div>

        <div fxFlex fxLayout="row" fxLayoutGap="30px" fxFlexFill>
          <div fxFlex fxFlexFill>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>address 2</mat-label>
              <input matInput placeholder="Tape here ..." />
              <mat-icon matSuffix class="material-icons-outlined"
                >markunread_mailbox</mat-icon
              >
            </mat-form-field>
          </div>
        </div>
        <div fxFlex fxLayout="row" fxLayoutGap="30px" fxFlexFill>
          <div fxFlex fxFlexFill>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>City</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of [1, 2, 3, 4, 5]" [value]="food">
                  {{ food }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex fxFlexFill>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>State / Province</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of [1, 2, 3, 4, 5]" [value]="food">
                  {{ food }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex fxLayout="row" fxLayoutGap="30px" fxFlexFill>
          <div fxFlex fxFlexFill>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Zip Code / Postal Code</mat-label>
              <input matInput placeholder="Tape here ..." />
              <!-- <mat-icon matSuffix class="material-icons-outlined"
                >person</mat-icon
              > -->
            </mat-form-field>
          </div>
          <div fxFlex fxFlexFill>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Country</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of [1, 2, 3, 4, 5]" [value]="food">
                  {{ food }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" fxFlex fxFlexFill>
          <button
            mat-flat-button
            class="example-icon"
            aria-label="Example icon-button with share icon"
            color="primary"
            matStepperPrevious
            style="background-color: #6bad37; border-radius: 20px"
          >
            <mat-icon>chevron_left</mat-icon>
            <span fxHide.xs-sm>Account</span>
          </button>
          <span fxFlex style="flex: 1 1 auto"></span>
          <button
            mat-flat-button
            class="example-icon"
            aria-label="Example icon-button with share icon"
            color="primary"
            matStepperNext
            style="background-color: #6bad37; border-radius: 20px"
          >
            <span fxHide.xs-sm>Interests</span
            ><mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>
    </cdk-step>
    <cdk-step>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="35px">
        <div fxFlex style="font-size: 20px; font-weight: 500; padding: 30px">
          Life in wild
        </div>
        <div
          fxLayout="row"
          fxFlex
          fxFlexFill
          style="position: relative; bottom: -30px; z-index: 3"
        >
          <span fxFlex></span>

          <div
            fxFlex="80"
            fxFlexFill
            style="
              text-align: center;
              max-height: 5px;
              padding: 10px;
              background-color: #3b8bd3;
              box-shadow: 1px 1px 8px #3b8bd3;
              color: white;
              border-radius: 5px;
            "
          >
            Tell us a bit about your life in the wild! What do you play? Where
            do you play?
          </div>
          <span fxFlex></span>
        </div>
        <mat-card
          fxFlex
          fxFlexFill
          fxLayout="row"
          fxLayoutAlign="space-around center"
          style="
            min-height: 40vh;
            position: relative;
            top: -80px;
            border-radius: 10px;
          "
        >
          <span fxFlex></span>
          <span fxFlex="40" style="align-items: center; min-height: 400px">
            <br />
            <br />
            <br />
            <mat-icon
              class="add_icon"
              style="font-size: 10vw; color: rgb(231, 231, 231)"
              >add_circle_outline</mat-icon
            >
          </span>
          <span fxFlex></span>
        </mat-card>
        <div fxLayout="row" fxFlex fxFlexFill>
          <button
            mat-flat-button
            class="example-icon"
            aria-label="Example icon-button with share icon"
            color="primary"
            matStepperPrevious
            style="background-color: #6bad37; border-radius: 20px"
          >
            <mat-icon>chevron_left</mat-icon>
            <span fxHide.xs-sm>Personal</span>
          </button>
          <span fxFlex style="flex: 1 1 auto"></span>
        </div>
      </div>
    </cdk-step>
  </example-custom-stepper>
</div>
