.divider {
  height: 1px !important;
  background-color: rgba(128, 128, 128, 0.534) !important;
}
@import "../globaleStyle.css";
.section {
  padding: 10px;
}
.head-20-semibold {
  font-size: 20spx !important;
  font-weight: 500 !important;
  padding: 20px;
}
