<div
  fxLayout="row"
  fxLayoutAlign="space-around center"
  style="margin-top: 30px"
>
  <div
    fxFlex="90"
    fxLayout="row"
    fxLayoutAlign="space-around center"
    fxLayoutGap="40px"
  >
    <mat-accordion class="example-headers-align" fxFlexFill>
      <mat-expansion-panel
        [expanded]="step === 0"
        (opened)="setStep(0)"
        hideToggle
        [class.selected]="step === 0"
        style="
          background-color: #f7f5ed80;
          box-shadow: 0px 0px 0px black;
          border: 1px solid #7070704d;
          margin: 5px 0px;
        "
      >
        <mat-expansion-panel-header>
          <mat-panel-description>
            <span
              fxLayout="row"
              fxLayoutAlign="start center"
              style="text-align: left; display: flex; vertical-align: middle"
            >
              <mat-panel-title style="min-width: 200px"
                >Prefered Method
              </mat-panel-title>

              <span>
                <mat-icon style="font-size: 24px">credit_card</mat-icon></span
              >

              <span style="padding-left: 10px"> Mastercard ending in 0000</span>
            </span>
            <span style="flex: 1 1 auto"></span>
            <mat-icon *ngIf="step != 0">chevron_right</mat-icon>
            <mat-icon *ngIf="step == 0">expand_more</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- list of prefered methods with edit delete and valide icon -->
        <div fxLayout="column" fxLayoutAlign="space-around left" fxFlexFill>
          <mat-list role="list" style="padding-left: 200px">
            <mat-list-item role="listitem">
              <mat-icon>credit_card</mat-icon
              ><span style="flex: 1 1 auto; padding: 5px"
                >Mastercard ending in 0000</span
              >
              <span style="flex: 1 1 auto"></span
              ><button mat-icon-button>
                <mat-icon style="color: rgb(230, 230, 230)"
                  >check_circle</mat-icon
                >
              </button>
              <button mat-icon-button>
                <mat-icon>edit</mat-icon></button
              ><button mat-icon-button>
                <mat-icon color="warn">cancel</mat-icon>
              </button>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon>credit_card</mat-icon
              ><span style="flex: 1 1 auto; padding: 5px">
                Visa ending in 0000</span
              >
              <span style="flex: 1 1 auto; min-width: 30px"></span
              ><button mat-icon-button>
                <mat-icon style="color: rgb(230, 230, 230)"
                  >check_circle</mat-icon
                >
              </button>
              <button mat-icon-button>
                <mat-icon>edit</mat-icon></button
              ><button mat-icon-button>
                <mat-icon color="warn">cancel</mat-icon>
              </button>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon>credit_card</mat-icon
              ><span style="flex: 1 1 auto; padding: 5px">
                Paypal - email@email.com</span
              >
              <span style="flex: 1 1 auto; min-width: 30px"></span
              ><button mat-icon-button>
                <mat-icon style="color: green">check_circle</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>edit</mat-icon></button
              ><button mat-icon-button>
                <mat-icon color="warn">cancel</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
        <mat-action-row>
          <div fxLayout="row" fxLayoutAlign="end end">
            <button
              fxFlex
              mat-raised-button
              color="primary"
              style="
                max-height: 50px;
                margin: 3px;
                background-color: #2699fb;
                border-radius: 20px;
              "
            >
              <mat-icon>add</mat-icon><span>Add </span>
            </button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 1"
        (opened)="setStep(1)"
        hideToggle
        style="
          background-color: #f7f5ed80;
          box-shadow: 0px 0px 0px black;
          border: 1px solid #7070704d;
          margin: 5px 0px;
        "
        [class.selected]="step === 1"
      >
        <mat-expansion-panel-header>
          <mat-panel-description>
            <mat-panel-title style="max-width: 200px">
              Payment History
            </mat-panel-title>
            <span
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="20px"
              style="text-align: left; display: flex; vertical-align: middle"
            >
              <span> 55 payments made successfully</span>
            </span>
            <span style="flex: 1 1 auto"></span>
            <mat-icon *ngIf="step != 1">chevron_right</mat-icon>
            <mat-icon *ngIf="step == 1">expand_more</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="margin-top: 30px">
          <app-payment-history-table></app-payment-history-table>
        </div>
        <mat-action-row>
          <div fxLayout="row" fxLayoutAlign="end end">
            <button
              fxflex
              color="primary"
              mat-raised-button
              style="
                max-height: 50px;
                margin: 3px;
                background-color: #2699fb;
                border-radius: 20px;
              "
            >
              <mat-icon>download</mat-icon>Download
            </button>
          </div>
          <!-- <button mat-raised-button color="primary" >
              save
            </button> -->
          <!-- <button mat-button color="primary" (click)="nextStep()">End</button> -->
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
