.divider {
  background-color: rgb(231, 231, 231);
  height: 1px !important;
  margin: 5px;
}
.desc {
  display: block;
  max-width: 60px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 10px;
  //   overflow: hidden;
}
.contact {
  padding: 5px;
}
.contact:hover {
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}
.messageIn {
  background-color: #625d5d1a;
  padding: 10px;
  max-width: 70%;
  font-size: 12px;
  margin: 5px 15px;
  border-radius: 10px;
}
.messageOut {
  background-color: #2699fb80;
  padding: 10px;
  font-size: 12px;
  max-width: 70%;
  width: fit-content;
  margin: 5px 15px;
  border-radius: 10px;
}
