<div
  fxLayout="row"
  fxLayoutAlign="space-between stretch"
  style="min-height: 120vh"
>
  <div fxFlex="20" style="background-color: #eeecec">
    <div fxLayout="column" fxLayoutAlign="space-around start">
      <div fxFlex style="padding: 5px" fxFlexFill fxFill>
        <mat-toolbar
          style="
            max-height: 48px !important;
            padding-left: 5px;
            padding-right: 5px;
            background-color: #eeecec;
          "
        >
          <mat-button-toggle-group
            name="fontStyle"
            style="font-size: 12px; font-weight: bold"
            fxFlex
            fxFlexFill
          >
            <mat-button-toggle
              value="all"
              fxFlex
              [checked]="checkedToggle == 'all'"
              >all</mat-button-toggle
            >
            <mat-button-toggle
              value="archive"
              fxFlex
              [checked]="checkedToggle == 'archive'"
              >archive</mat-button-toggle
            >
            <mat-button-toggle
              value="new"
              fxFlex
              [checked]="checkedToggle == 'new'"
              >new</mat-button-toggle
            >
          </mat-button-toggle-group>
        </mat-toolbar>
      </div>
      <div fxFlex fxFlexFill style="padding: 5px; font-size: 12px">
        <mat-form-field appearance="outline" fxFlexFill>
          <mat-label>Search...</mat-label>
          <input matInput placeholder="Search" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div fxFlex style="padding: 0px" fxFlexFill>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          (click)="setXplorer(1)"
          [ngClass]="currentXplorer == 1 ? 'current-contact' : 'contact'"
        >
          <div fxFlex>
            <img
              class="avatarDes"
              src="../../../assets/avatar.png"
              style="margin: 4px"
            />
          </div>
          <span fxFlex="60" fxLayout="column" fxFlexFill style="padding: 3px"
            ><span fxFlex><strong>Contact company</strong></span
            ><span fxFlex style="font-size: 10px">3:00 PM</span></span
          >

          <span
            ><button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon class="material-icons-outlined">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined"
                  >visibility_off</mat-icon
                >
                <span>mark as read</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">check_box</mat-icon>
                <span>mark as todo</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">delete</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">archive</mat-icon>
                <span>send to archive</span>
              </button>
            </mat-menu></span
          >
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          style="height: 2px; background-color: rgb(216, 216, 216)"
        ></div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          (click)="setXplorer(2)"
          [ngClass]="currentXplorer == 2 ? 'current-contact' : 'contact'"
        >
          <div fxFlex>
            <img
              class="avatarDes"
              src="../../../assets/avatar.png"
              style="margin: 4px"
            />
          </div>
          <span fxFlex="60" fxLayout="column" fxFlexFill style="padding: 3px"
            ><span fxFlex><strong>Xplorer 2</strong></span
            ><span fxFlex style="font-size: 10px">1:00 AM</span></span
          >

          <span
            ><button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon class="material-icons-outlined">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined"
                  >visibility_off</mat-icon
                >
                <span>mark as read</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">check_box</mat-icon>
                <span>mark as todo</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">delete</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">archive</mat-icon>
                <span>send to archive</span>
              </button>
            </mat-menu></span
          >
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          (click)="setXplorer(3)"
          [ngClass]="currentXplorer == 3 ? 'current-contact' : 'contact'"
        >
          <div fxFlex>
            <img
              class="avatarDes"
              src="../../../assets/avatar.png"
              style="margin: 4px"
            />
          </div>
          <span fxFlex="60" fxLayout="column" fxFlexFill style="padding: 3px"
            ><span fxFlex><strong>Xplorer 3</strong></span
            ><span fxFlex style="font-size: 10px">yesterday...</span></span
          >

          <span
            ><button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon class="material-icons-outlined">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined"
                  >visibility_off</mat-icon
                >
                <span>mark as read</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">check_box</mat-icon>
                <span>mark as todo</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">delete</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">archive</mat-icon>
                <span>send to archive</span>
              </button>
            </mat-menu></span
          >
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          (click)="setXplorer(4)"
          [ngClass]="currentXplorer == 4 ? 'current-contact' : 'contact'"
        >
          <div fxFlex>
            <img
              class="avatarDes"
              src="../../../assets/avatar.png"
              style="margin: 4px"
            />
          </div>
          <span fxFlex="60" fxLayout="column" fxFlexFill style="padding: 3px"
            ><span fxFlex><strong>Xplorer 4</strong></span
            ><span fxFlex style="font-size: 10px">10 min ago</span></span
          >

          <span
            ><button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon class="material-icons-outlined">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined"
                  >visibility_off</mat-icon
                >
                <span>mark as read</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">check_box</mat-icon>
                <span>mark as todo</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">delete</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">archive</mat-icon>
                <span>send to archive</span>
              </button>
            </mat-menu></span
          >
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          (click)="setXplorer(5)"
          [ngClass]="currentXplorer == 5 ? 'current-contact' : 'contact'"
        >
          <div fxFlex>
            <img
              class="avatarDes"
              src="../../../assets/avatar.png"
              style="margin: 4px"
            />
          </div>
          <span fxFlex="60" fxLayout="column" fxFlexFill style="padding: 3px"
            ><span fxFlex><strong>Xplorer 5</strong></span
            ><span fxFlex style="font-size: 10px">2 days ago</span></span
          >

          <span
            ><button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon class="material-icons-outlined">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined"
                  >visibility_off</mat-icon
                >
                <span>mark as read</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">check_box</mat-icon>
                <span>mark as todo</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">delete</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">archive</mat-icon>
                <span>send to archive</span>
              </button>
            </mat-menu></span
          >
        </div>
      </div>
    </div>
  </div>

  <div
    fxFlex="80"
    fxLayout="column"
    fxLayoutAlign="space-between stretch"
    style="background-color: whitesmoke; border-radius: 10px"
  >
    <!-- TODO Current User fields-->
    <div fxFlex>
      <div
        style="background-color: whitesmoke; padding: 10px"
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayoutAlign="space-around center"
      >
        <!-- <div fxFlex style="max-width: 60px">
          <img
            mat-card-avatar
            class="avatar"
            src="../../../assets/avatar.png"
            style="margin: 4px"
          />
        </div> -->
        <span fxFlex="30" fxLayout="column" fxFlexFill style="padding: 3px"
          ><span fxFlex
            ><strong style="font-size: large">Xplorer's name</strong></span
          ><span fxFlex style="font-size: 10px">3:00 PM New York</span></span
        >
        <span fxFlex> Trip Title ...</span>
        <span fxLayout="row" fxHide.lt-md>
          <button mat-icon-button fxFlex matTooltip="mark as seen">
            <mat-icon class="material-icons-outlined">visibility_off</mat-icon>
          </button>
          <button mat-icon-button fxFlex matTooltip="send to archive">
            <mat-icon class="material-icons-outlined">inventory_2</mat-icon>
          </button>
          <button mat-icon-button fxFlex matTooltip="mark as todo">
            <mat-icon class="material-icons-outlined">check_box</mat-icon>
          </button>
          <button mat-icon-button fxFlex matTooltip="delete conversation">
            <mat-icon color="warn">delete</mat-icon>
          </button></span
        >
        <span fxHide fxShow.lt-md
          ><button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon class="material-icons-outlined">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon class="material-icons-outlined"
                >visibility_off</mat-icon
              >
              <span>mark as read</span>
            </button>
            <button mat-menu-item>
              <mat-icon class="material-icons-outlined">check_box</mat-icon>
              <span>mark as todo</span>
            </button>
            <button mat-menu-item>
              <mat-icon class="material-icons-outlined">delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item>
              <mat-icon class="material-icons-outlined">archive</mat-icon>
              <span>send to archive</span>
            </button>
          </mat-menu></span
        >
      </div>
      <div
        fxLayout="column"
        fxLayoutGap="0px"
        fxLayoutAlign="space-between stretch"
      >
        <!-- <div class="screen"> -->
        <div class="conversation">
          <span
            style="
              flex: 1 1 auto !important;
              width: 100% !important;
              text-align: center !important;
            "
            >01-02-2020 at 3:00 PM</span
          >
          <div class="messages messages--received">
            <div class="message">message ###############</div>
            <div class="message">
              <span>how to create ############## ########</span>
            </div>
          </div>
          <span style="font-size: 10px; padding-left: 50%"
            >01-02-2020 at 3:10 PM</span
          >
          <div class="messages messages--sent">
            <div class="message">##############</div>
            <div class="message">
              <pre>
################
###############</pre
              >
            </div>
            <div class="message">;)</div>
          </div>

          <span style="font-size: 10px; padding-left: 50%"
            >01-02-2020 at 3:50 PM</span
          >
          <div class="messages messages--received">
            <div class="message">Enjoy!</div>
          </div>
        </div>
        <!-- <div class="text-bar">
            <form class="text-bar__field" id="form-message">
              <input type="text" placeholder="Type or thumb up ;)"/>
            </form>
            <div class="text-bar__thumb">
              <div class="thumb"></div>
            </div>
          </div> -->
        <!-- </div> -->
        <!-- <div fxLayout="row">
          <div class="message-blue">
            <p class="message-content">This is an awesome message!</p>
            <div class="message-timestamp-left">13:37</div>
          </div>
        </div>
        <div fxLayout="row" style="min-height: fit-content">
          <div class="message-orange" style="min-height: 120px">
            <p class="message-content">
              I agree that your message is awesome! agree that your message is
              awesome! agree that your message is awesome! agree that your
              message is awesome! agree that your message is awesome!
            </p>
            <div class="message-timestamp-right">13:37</div>
          </div>
        </div>
        <div fxLayout="row">
          <div class="message-blue">
            <p class="message-content">Thanks!</p>
            <div class="message-timestamp-left">13:37</div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
