<div fxLayout="column" fxLayoutGap="10px" style="padding-top: 100px">
  <mat-form-field class="example-chip-list" appearance="outline">
    <mat-label>Activities</mat-label>
    <mat-chip-list #chipListActivity aria-label="Fruit selection">
      <mat-chip
        *ngFor="let item of service.activities"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="removeActivity(item)"
      >
        {{ item }}
        <button matChipRemove *ngIf="removable">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Type more..."
        #activityInput
        [formControl]="service.activityCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipListActivity"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addActivity($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selectedActivity($event)"
    >
      <mat-option
        *ngFor="let item of service.filteredActivities | async"
        [value]="item"
      >
        {{ item }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-chip-list" appearance="outline">
    <mat-label>Regions</mat-label>
    <mat-chip-list #chipListRegion aria-label="Fruit selection">
      <mat-chip
        *ngFor="let item of service.regions"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="removeRegion(item)"
      >
        {{ item }}
        <button matChipRemove *ngIf="removable">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Type more..."
        #regionInput
        [formControl]="service.regionCtrl"
        [matAutocomplete]="autoR"
        [matChipInputFor]="chipListRegion"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addRegion($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #autoR="matAutocomplete"
      (optionSelected)="selectedRegion($event)"
    >
      <mat-option
        *ngFor="let item of service.filteredRegions | async"
        [value]="item"
      >
        {{ item }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <span class="divider"></span>
  <span style="padding-top: 10px"></span>
  <mat-form-field fxFlex fxFlexFill appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput type="text" [(ngModel)]="service.tripTitle" />
  </mat-form-field>
  <mat-form-field fxFlex fxFlexFill appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput rows="6"></textarea>
  </mat-form-field>
  <span class="divider"></span>
  <span style="padding-top: 10px"></span>
  <span fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <span
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="20px"
    >
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Spaces</mat-label>
        <input matInput type="number" /> </mat-form-field
      ><mat-form-field fxFlex appearance="outline">
        <mat-label>Duration (days)</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="service.daysNumber"
        /> </mat-form-field
    ></span>
    <span
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="20px"
    >
      <span fxFlex>
        <mat-form-field appearance="outline" style="max-width: 150px">
          <mat-label>Price</mat-label>
          <input matInput type="number" placeholder="$.." /><mat-icon
            matSuffix
            class="material-icons-outlined"
            >attach_money</mat-icon
          >
          <mat-hint style="color: #3b8bd3; font-size: 12px"
            >per day per person</mat-hint
          ></mat-form-field
        ></span
      >
      <span fxFlex>
        <mat-form-field appearance="outline" style="max-width: 70px">
          <!-- <mat-label>Currency</mat-label> -->
          <mat-select value="USD">
            <mat-option value="USD">USD</mat-option>
          </mat-select>
        </mat-form-field></span
      >
    </span>
  </span>

  <div fxLayout="row" fxFlex fxFlexFill>
    <span fxFlex style="flex: 1 1 auto"></span>
    <button
      [routerLink]="['../lodging']"
      routerLinkActive="router-link-active"
      mat-flat-button
      aria-label="Example icon-button with share icon"
      color="primary"
      style="background-color: #2699fb; border-radius: 20px"
      class="head-14-semibold"
    >
      <span fxHide.xs-sm style="margin: 10px"> Lodging </span
      ><mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
